/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background-image: url(/images/Background.jpg);
    background-size: cover;
}

/* Button */
button {
    border: none;
    background-color: white;
    border-radius: 90%;
    box-shadow: 0px 5px 5px rgb(22, 133, 177);
    margin: 180px;
    cursor: pointer;
    transition: transform 0.5s;
}

button:focus {
    outline: none;
}

button:hover i {
    color: rgb(114, 253, 0);
}

i {
    color: #C4F14C;
    font-size: 8em;
}

/* Book */
.book {
    width: 650px;
    height: 800px;
    position: relative;
    transition: transform 0.5s;
}

.paper {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    perspective: 1500px;
}

.front {
    backface-visibility: hidden;
    border-left: 3px solid transparent;
}

.front, 
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transform-origin: left;
    transition: transform 0.5s;
}

.front {
    z-index: 1;
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.back-content {
    transform: rotateY(180deg)
}

/* Paper Flipped */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg)
}

/* Paper Z-index */
#p1 {
    z-index: 12;
}

#p2 {
    z-index: 11;
}

#p3 {
    z-index: 10;
}

#p4 {
    z-index: 9;
}

#p5 {
    z-index: 8;
}

#p6 {
    z-index: 7;
}

#p7 {
    z-index: 6;
}

#p8 {
    z-index: 5;
}

#p9 {
    z-index: 4;
}

#p10 {
    z-index: 3;
}

#p11 {
    z-index: 2;
}

#p12 {
    z-index: 1;
}
/* Customization */

.book-title {
    font-size: 3em;
    margin-bottom: 40px;
}

.cover-img {
    width: 200px;
    height: 270px;
    object-fit: cover;
    border-radius: 30px;
}

#b1 {
    padding: 20px;
    text-align: center;
    font-size: 1.2em;
    justify-content: space-around;
}

#b1 h2 {
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 20px;
}

#b1 p {
    margin-bottom: 20px;
}
