
@font-face{
    font-family: 'Neatly-Printed';
    src: url(/fonts/KgNeatlyPrinted-6Gwg.ttf) format('truetype');
}

@font-face{
    font-family: 'Neatly-Printed-Spaced';
    src: url(/fonts/KgNeatlyPrintedSpaced-yxrm.ttf) format('truetype');
}

@font-face{
    font-family: 'Boldchild';
    src: url(/fonts/Boldchild.otf) format('opentype');
}



/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Neatly-Printed';
    background-image: url(/images/Background.jpg);
    background-size: cover;
}

/* ----------------------------------------------- Button -------------------------------------------- */
#prev-btn, #next-btn {
    border: none;
    background-color: white;
    border-radius: 90%;
    box-shadow: 0px 5px 5px rgb(22, 133, 177);
    margin: 170px; 
    cursor: pointer;
    transition: transform 0.5s;

}

button:focus {
    outline: none;
}

button:hover i {
    color: rgb(114, 253, 0);
}

i {
    color: #C4F14C;
    font-size: 8em;
}



/* Book */
.book {
    width: 640px;
    height: 780px;
    position: relative;
    transition: transform 0.5s;
    z-index: 0;
}

.paper {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    perspective: 1500px;
}

.front {
    backface-visibility: hidden;
    border-left: 3px solid transparent;
}

.front, 
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transform-origin: left;
    transition: transform 0.5s;
    border-radius: 0px 50px 50px 0px;
}

.front {
    z-index: 1;
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0px 50px 50px 0px;
}

.back-content {
    transform: rotateY(180deg)
}

/* Paper Flipped */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
    border-radius: 0px 50px 50px 0px;
}

/* Paper Z-index */
#p1 {
    z-index: 11;
}

#p2 {
    z-index: 10;
}

#p3 {
    z-index: 9;
}

#p4 {
    z-index: 8;
}

#p5 {
    z-index: 7;
}

#p6 {
    z-index: 6;
}

#p7 {
    z-index: 5;
}

#p8 {
    z-index: 4;
}

#p9 {
    z-index: 3;
}

#p10 {
    z-index: 2;
}

#p11 {
    z-index: 1;
}


/* Customization */

#f1{
    background-image: url(/images/Book\ Titelblatt@8-664x86443-min.jpg);
    background-size: cover;
    border-radius: 0px 50px 50px 0px;
}

#f1-2{
    background-image: url(/images/Book\ Titelblatt\ -\ Copy@8-664x864-min.jpg);
    background-size: cover;
    border-radius: 0px 50px 50px 0px;
}

#b7{
    background-image: url(/images/Book\ Rückseite\ NEU\ @8-664x864-min.jpg);
    background-size: cover;
    border-radius: 50px 0px 0px 50px;
}

#b5{
    background-image: url(/images/Book\ Rückseite\ \ -\ Copy@8-664x864-min.jpg);
    background-size: cover;
    border-radius: 50px 0px 0px 50px;
    background-position: center;
}


.cover-img {
    width: 200px;
    height: 270px;
    object-fit: cover;
    border-radius: 30px;
}


.book-iframe{
    border-radius: 50px 0px 0px 50px;
}


.front h1{
    font-size: 3.5em;
    position: relative;
    left: 5%;
    bottom: 8%;
}

.paper-button{ 
    width: 300px;
    height: 73px;
    border-radius:50px;
    background-color: #F15BB5;
    border: 3px solid #6D200E;
    display: flex;
    justify-content:center;
    

}

.paper-button h1{
    font-family: 'Neatly-Printed';
    font-size: 5em;
    color: white;
    font-weight:bolder;
}

.paper-button img{
    height: 75%;
    
}

.paper-button:hover{
    background-color: rgb(114, 253, 0);
    width: 295px;
    cursor: pointer;
}

.choice-button{
    height: 133px;
    width: 592px;
    background-color: #EBE7EA;
    border-radius: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
}

.choice-button .answer{
    height: 94px;
    width: 170px;
    border-radius: 20px;
    background-color: white;
    border: none;
    font-family: 'Boldchild';
    font-size: 35px;
    
}

.choice-button .right{
    height: 94px;
    width: 170px;
    border-radius: 20px;
    background-color: #84EFB1;
    border: 5px solid #67D967;
    color: white;
    font-family: 'Boldchild';
    font-size: 35px;

}

.title-iframe{
    position: absolute;
}

a{
    text-decoration: none;
}

.start-button{
    height: 100px;
    width: 450px;
    border-radius: 50px;
    background-color: #F15BB5;
    border: 3px solid #6D200E;
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
    top: 250px;
    font-family: 'Boldchild';
    font-size: 60px;
    font-weight: bolder;
    color: white;
    
}

.start-button:hover{
    background-color: rgb(114, 253, 0);
    height: 90px;
    width: 430px;
    font-size: 50px;
}


.uebungs-button{
    height: 100px;
    width: 400px;
    border-radius: 50px;
    background-color: #F15BB5;
    border: 3px solid #6D200E;
    display: flex;
    justify-content:center;
    align-items: center;
    /* position: relative;
    top: 250px; */
    font-family: 'Neatly-Printed';
    font-size: 100px;
    font-weight: bolder;
    color: white;

}

.uebungs-button:hover{
    background-color: rgb(114, 253, 0);
    height: 90px;
    width: 390px;
    font-size: 90px;
}


    /* ----------------------------------------------------------- Splash Screen ----------------------------------------------------*/

    .intro{
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: #161616;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }

    .logo-header{
        position: absolute;
        top: 40%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        color: #ffffff;
    }

    .logo{
        position: relative;
        display: inline-block;
        bottom: -20px;
        opacity: 0;
        font-size: 120px;

    }

    .logo.active{
        bottom:0;
        opacity: 1;
        -webkit-transition: ease-in-out 1.0s;
        -o-transition: ease-in-out 1.0s;
        transition: ease-in-out 1.0s;
    } 

    .logo.fade{
        bottom: 150px;
        opacity: 0;
        -webkit-transition: ease-in-out 1s;
        -o-transition: ease-in-out 1s;
        transition: ease-in-out 1s;
    } 

    .logo .image-logo{
        height: 200px;
        width: 100px;
        -webkit-transform: translate(-50%, 10%);
            -ms-transform: translate(-50%, 10%);
                transform: translate(-50%, 10%);
    }

    .logo .image-logo2{
        display: none;
    }


    .home-nav{
        font-family: 'Neatly-Printed';
        font-size: 2em;
        color: white;
        font-weight:bolder;
        position: relative;
        left:48%;
        bottom: 430px;
    }
   